@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
body{
}
header{
  background-color: #1a0141;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo{
  text-decoration: none;
  color: rgb(160, 91, 224);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
}
.navigation a{
  text-decoration: none;
  color: rgb(160, 91, 224);
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;
}
.navigation a:hover{
  color: #601cfc;
}
section{
  padding: 100px 200px;
}
.itr{

}
.content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.itr{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/drk.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.itr{
  color: white;
  font-size: 1.4em;
  font-weight: 400;
}
.itr h2{
  font-size: 20px;
  font-weight: 400;
}
.itr h2 span{
  color: rgb(160, 91, 224);
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 1px;
}
.itr h3{
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.bil{
  color: white;
  background-color: #601cfc;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 50px;
  transition: 0.7s ease;
}
.bil:hover{
  background-color: #1a0141;
  transform: scale(1.1);
}
.social-icons a{
  color: white;
  font-size: 1.7em;
  padding-right: 30px;
}
.titel{
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}


.op{
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.about{
background-color: #ffffff;
background-image: url(images/o.png);
background-size: cover;

}
.about .content{
margin-top: 30px;
}
.project-card {
  background-color: #1a0141;
  border: 2px solid #1a0141;
  min-height: 14em;
  width: 15em;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 5px 25px  rgba(1, 1, 1, 15);
  border-radius: 10px;
  transition: 0.7s ease;
}
.project-card:hover{
  transform: scale(1.1);
}
.project-card1 {
  background-color: #ffffff;
  border: 2px solid #1a0141;
  min-height: 5em;
  width: 15em;
  overflow: hidden;
  border-radius: 10px;
  margin: 17px;
  box-shadow: 0 5px 25px  rgba(1, 1, 1, 15);
  border-radius: 10px;
  transition: 0.7s ease;
}
.project-card1:hover{
  transform: scale(1.1);
}
.v{
  text-decoration-line: none;
  color: #8255ec;
}
.r{
  color: #ffffff;
}
.project-img img{
width: 100%;
}
.project-category{
  color: #ffffff;
}

.icon{
  color: #3a6cf4;
  font-size: 100px;
  text-align: center;
}
.info{
  text-align: center;
}
.info h3{
  color: #3a6cf4;
  font-size: 1.2em;
  margin: 20px;
}
.t1{
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.v1{background: url(images/l.jfif) no-repeat;
  background-position: center;
  background-size: cover;
  width: 21.25em;
  box-shadow: 0 5px 25px  rgba(1, 1, 1, 15);
  border-radius: 10px;
  padding: 25px;
  margin: 25px;
  transition: 0.7s ease; 
  text-align: center;
  display: flex;
}
.v1:hover{
  transform: scale(1.1);
}
.t3{
  background-color: #1a0141;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 50px;
  transition: 0.7s ease;
}
.t3:hover{
  background-color: #1a0141;
  transform: scale(1.1);
}
.t2{
  background-color: #1a0141;
  color: #ffffff;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 50px;
  transition: 0.7s ease;
}
.t2:hover{
  background-color: #1a0141;
  transform: scale(1.1);
}
.srv{
  background-image: url(images/j.png);
  background-size: cover;
}
.t4{
  display: flex;
  justify-content: center;
  color: #1a0141;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.card{
    background-color: #ffffff;
    border: 2px solid #6630bd;
    min-height: 14em;
    width: 15em;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 5px 25px  rgba(1, 1, 1, 15);
    border-radius: 10px;
    transition: 0.7s ease;}
.card:hover{
    transform: scale(1.1);
  }
.t5{
  display: flex;
  justify-content: center;
  color: #1a0141;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.card{
  background-color: #fff;
  width: 15em;
  box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}
.card:hover{
  transform: scale(1.1);
}
.icon{
  color: #1a0141;
  font-size: 4em;
  text-align: center;
}
.info{
  text-align: center;
}
.info .t6{
  color: #1a0141;
  font-size: 1.2em;
  font-weight: 500;
  margin: 10px;


}
@media (max-width:1023px){
  header{
    padding: 12px;

  }
}
.footer{
  background-color: #1a0141;
  color: #ffffff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  
}
.footer-title{
  font-size: 1.3em;
  font-weight: 600;

}
.footer-title span{
  color: #601cfc;

}
.footer .social-icons{
  font-size: 1.3em;
}
